<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <!-- CSS -->
    <link rel="stylesheet" href="/style.css" />
    <!-- Bootstrap -->
    <link
      rel="stylesheet"
      href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css"
      integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm"
      crossorigin="anonymous"
    />
    <!-- Google Fonts -->
    <link rel="preconnect" href="https://fonts.googleapis.com" />
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin />
    <link
      href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@300&family=Prata&display=swap"
      rel="stylesheet"
    />

    <title>Document</title>
  </head>
  <body>
    <!-- user auth -->
    <div id="user-auth-div" class="d-flex flex-column justify-content-center">
      <!-- sign up/ log in -->
      <div class="d-flex justify-content-center">
        <div id="signup-div">
          <div class="user-card card text-center">
            <div class="card-header">
              <ul class="nav nav-tabs card-header-tabs">
                <li class="nav-item">
                  <a id="signup-tab" class="nav-link active">SIGN UP</a>
                </li>
                <li class="nav-item">
                  <a id="login-tab" class="nav-link">LOG IN</a>
                </li>
              </ul>
            </div>
            <div id="user-input-div" class="card-body"></div>
          </div>
        </div>
      </div>
      <div id="error-text" class="error-text text-center mt-2"></div>
    </div>
    <!-- end of user auth -->
    <!-- Main Game -->
    <div class="main">
      <div class="board-wrap">
        <div id="board-container">
          <div id="board" class="board"></div>
        </div>
      </div>
      <div id="logo-container">
        <img id="logo" src="/images/play-logo-white.png" alt="" />
      </div>
      <div id="message-button-container" class="message-button-container">
        <div id="player0-div"></div>
        <div id="button-container"></div>
        <div id="side-container"></div>
        <div id="game-result-div" class="game-result-div"></div>
        <div id="player1-div" class="player1-div"></div>
      </div>
    </div>
    <!-- Overlay for small screens -->
    <div id="overlay">
      <p id="overlay-text">
        This game is best played at full screen, please enlarge your browser or
        move to a bigger screen.
      </p>
    </div>
    <!-- Axios -->
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <!-- Bootstrap related -->
    <script
      src="https://code.jquery.com/jquery-3.2.1.slim.min.js"
      integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js"
      integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q"
      crossorigin="anonymous"
    ></script>
    <script
      src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
      integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
      crossorigin="anonymous"
    ></script>
    <!-- JavaScript -->
    <script src="/globalVariables.js"></script>
    <script src="/dom.js"></script>
    <script src="/user.js"></script>
    <script src="/update.js"></script>
    <script src="/create.js"></script>
  </body>
</html>
