/* background gradient
html {
  height: 100%;
}

body {
  background-color: #f1dfd1;
  background-image: linear-gradient(315deg, #f1dfd1 0%, #f6f0ea 74%);
}  */

body {
  background: linear-gradient(-45deg, #eed2ca, #e2c0cd, #f1d9c6, #e7c6bb);
  background-size: 400% 400%;
  animation: gradient 15s ease infinite;
  height: 100vh;
}

@keyframes gradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/* user auth */
.input-bar,
.card {
  margin: 5px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-bottom: 1px solid rgb(8, 42, 231);
}

.input-bar,
#signup-tab,
#login-tab {
  font-size: 14px;
  letter-spacing: 0.1em;
}

.blue-button {
  margin: 5px;
  margin-top: 10px;
  width: 80%;
  /* border-radius: 10px; */
  font-size: 14px;
  letter-spacing: 0.1em;
  border: none;
  border-bottom: 1px solid rgb(8, 42, 231);
  color: rgb(8, 42, 231);
  background-color: transparent;
}

.blue-button:hover {
  border-bottom: 2px solid rgb(8, 42, 231);
}

#signup-div {
  margin-top: 150px;
}

.user-card {
  border-radius: 15px !important;
  border: none !important;
}
/* go-board */
.cells {
  /* border: 1px dotted rgb(165, 122, 97); */
  border: none;
  color: rgb(8, 42, 231);
}

.grid-cells {
  border: 1px solid rgb(8, 42, 231);
}

table {
  border-collapse: collapse;
}

.board {
  position: relative;
}

.click-board {
  position: absolute;
  right: 20px;
  /* left: 100px; */
  top: 40px;
  z-index: 1;
}

.grid {
  position: absolute;
  right: 35px;
  /* left: 215px; */
  top: 55px;
  z-index: 0;
}

.cells,
.grid-cells {
  height: 30px;
  width: 30px;
  text-align: center;
}

.main {
  display: flex;
  flex-direction: row;
  margin-left: 20px;
  margin-right: 20px;
}

#board-container {
  flex-grow: 1;
}

/* logo movement */
.in-game {
  display: flex;
  /* justify-content: flex-start; */
  margin-top: 15%;
}

.top-right {
  position: absolute;
  left: 75%;
  top: 10%;
}

/* message-button related */

.message-button-container {
  margin: 20px;
  display: flex;
  flex-direction: column;
}

h1,
h2 {
  color: rgb(8, 42, 231) !important;
  font-family: "Cormorant Garamond", serif !important;
}

h1 {
  font-size: 50px !important;
}

h2 {
  font-size: 40px !important;
}

.game-button {
  height: 70px;
  width: 70px;
  border-radius: 50%;
  border: none;
  background-color: rgb(8, 42, 231);
  color: white;
}
